.botao {
  align-self: center;
  width: 150px;
  padding: 16px;
  color: #272626;
  font-size: 1.25rem;
  background-color: #88dcd1;
  border-radius: 10px;
  cursor: pointer;

  &:active {
    background-color: #7ca6b7;
    box-shadow: 2px 2px 4px #0000009f inset;
  }
}

@media screen and(min-width: 1280px) {
  .botao {
    grid-column-start: span 2;
    justify-self: center;
    width: 200px;
    font-size: 2.25rem;
  }
}
